<nav class="container navbar navbar-expand-sm bg-dark navbar-dark rounded">

	<a class="navbar-brand" href="/">
		<img src="/img/logo.png" alt="INICIO" style="width:40px;">
	</a>

	<ul class="navbar-nav">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
				MENÚ
			</a>

			<div class="dropdown-menu">
				<a class="dropdown-item" href="/habitacion/r">Habitaciones</a>
				<a class="dropdown-item" href="/reserva/r">Reservas</a>
				<a class="dropdown-item" href="/cliente/r">Clientes</a>
			</div>
		</li>
     </ul>
     
	<a class="navbar-brand" href="/init">
		<img src="/img/icons/calavera.jpg" alt="INICIALIZAR" style="width:40px;">
	</a>
     
</nav>
